@import 'vars';

.article {
  max-width: 300px;
  background: #fff;
  border-radius: 4px;
  box-shadow: $general-shadow;
  color: $general-font-color;
  display: flex;
  flex-direction: column;

  &.expanded {
    max-width: 75%;
    margin: 0 auto;
  }

  &:hover:not(.expanded) {
    text-decoration: none;
    box-shadow: $general-expanded-shadow;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
    // transform: translate3d(0,-.125rem,0);
  }

  &:not(:last-child) {
    margin-right: $general-margin;
  }

  &__container {
    display: flex;
  }

  & img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__body {
    padding: 0 $small-padding;
    &.expanded {
      padding: 0 $general-padding;
    }
    & .article__title {
      text-align: center;
    }
  }

  &__footer {
    padding: $small-padding;
    margin-top: auto;
  }

  &__date {
    font-size: 0.75rem;
    color: #555;
  }

  &__navigation {
    padding: $general-padding 0;
    overflow: auto;
    overflow-x: hidden;

    &--prev {
      float: left;
    }

    &--next {
      float: right;
    }

    & a:hover {
        text-decoration: none;
        & .arrow__left {
          // -webkit-animation: MoveLeftAndRight 1s linear infinite;
          animation: MoveLeftAndRight 0.75s linear infinite;
        }
        & .arrow__right {
          animation: MoveRightAndLeft 0.75s linear infinite;
        }
      }
  }
}

@-webkit-keyframes MoveLeftAndRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-2.5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes MoveRightAndLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(2.5px);
  }
  100% {
    transform: translateX(0px);
  }
}
