$k: .1;
$track-w: 12rem;
$track-h: .02*$track-w;
$thumb-d: $k*$track-w;

@mixin track() {
  border: none;
  width: $track-w;
  height: $track-h;
  border-radius: 0.5*$track-h;
  background: #f7f5f5;
}

@mixin thumb() {
  border: none;
  width: $thumb-d;
  height: $thumb-d;
  border-radius: 50%;
  border: 1px solid #f7f5f5;
  background: #325c80;
}

.miner {
  position: sticky;
  top: 6rem;
  float: right;

  @media screen and (max-width: 800px) {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    top: unset;
    padding: 0px;
    font-size: 0.8rem;
    max-height: 100px;
  }

  @media screen and (max-width: 499px) {
    font-size: 0.6rem;
    max-height: 80px;
  }

  & ul {
    list-style: none;
    padding: $small-padding;
    border-radius: 4px;
    margin: 0px;
    background: #fff;
    box-shadow: $general-shadow;
    color: $general-font-color;

    @media screen and (max-width: 800px) {
      display: flex;
      justify-content: space-around;
    }

    & li {
      padding-top: 15px;
      @media screen and (max-width: 499px) {
        padding: 0px;
      }
    }

    & a {
      text-decoration: none;
    }
  }

  &__result {
    text-align: center;
    font-size: 26px;

    &-suffix {
      font-size: 12px;
    }

    &--secondary {
      @media screen and (max-width: 499px) {
        display: none;
      }
    }
  }

  &__metric {
    text-align: center;
  }
  &__throttle {
    &:hover {
      cursor: pointer;
    }
    &--toggle {
      display: flex;
      max-width: 80px;
      @media screen and (min-width: 801px) {
        max-width: 100%;
      }
      & input[type=range] {
        direction: rtl;
        width: 100%;
        outline: none;

        &, &::-webkit-slider-thumb { -webkit-appearance: none }
        &::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          @include track;
        }
        &::-moz-range-track {
          @include track;
        }
        &::-ms-track {
          @include track;
        }

        &::-webkit-slider-thumb {
          margin-top: 0.5*($track-h - $thumb-d);
          @include thumb;
        }
        &::-moz-range-thumb {
          @include thumb;
        }
        &::-ms-thumb {
          margin-top: 0;
          @include thumb;
        }
      }
    }
  }
}
