// Colors
$general-font-color: #152935;
$hippo-blue: #325C80;
$warm-white: #f7f5f5;

// Padding
$general-padding: 1.45rem;
$reduced-padding: $general-padding / 2;
$small-padding: 0.45rem;

// Margin
$general-margin: 30px;
$general-margin-top: 20px;
