// Colors
$general-font-color: #152935;
$hippo-blue: #325C80;
$warm-white: #f7f5f5;

// Padding
$general-padding: 1.45rem;
$reduced-padding: $general-padding / 2;
$small-padding: 0.75rem;

// Margin
$general-margin: 1.45rem;
$small-margin: 0.75rem;
$general-margin-top: 20px;

// Box shadow
$general-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$general-expanded-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
